local.properties
.idea
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
.gradle/
.gradle
.gradle/*
build
jsApp/build
shared/build
.DS_Store
jsApp/.DS_Store
shared/.DS_Store
shared/src/.DS_Store
**/.DS_Store